*,
*::before,
*::after{
    content: none; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Comic Neue', 'Gloria Hallelujah','Poppins', sans-serif;
    overflow-x: hidden;
}

/* full dish details */
.full-dish-details{
    display: grid;
    width: 100%;
    height: fit-content;
    place-content: center;
    background-color: hsla(10, 5%, 48%, 20%);
    padding: 4rem;
}
.full-card-dish-details{
    width: 80rem;
    height: fit-content;
    padding: 4rem;
    background-color: hsl(26, 11%, 90%);
    box-shadow: 8px 8px 18px #817775;
    border-radius: 8px;
    border-left: 4px solid hsl(38, 12%, 47%);
}
.full-dish-image-detail{
    width: 100%;
    height: 38rem;
    border-radius: 8px;
    outline: 2px solid hsl(0, 0%, 100%);
    box-shadow: 2px 2px 8px black;
}
.full-card-dish-details > h2{
    font-size: 2.4rem;
    margin-top: 1.2rem;
    margin-bottom: .8rem;
}
.full-card-dish-details > h4{
    font-size: 1.8rem;
    margin-top: 1.2rem;
    margin-bottom: .8rem;
}
.full-card-dish-details > p {
    font-size: 1.4rem;
}
.close-button{
    position: absolute;
    z-index: 30;
    right: 24rem;
    top: 6rem;
    border-radius: 50%;
    background-color: hsla(37, 10%, 85%, 80%);
    outline: 2px solid hsl(0, 0%, 100%);
    padding: 1.2rem;
    cursor: pointer;
}