*,
*::before,
*::after{
    content: none; 
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

/* start here */
body{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../public/img/pexels-curtis-adams-14715771.jpg);
    background-position: center;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(30, 30%, 70%, 90%);
    width: 100%;
    padding-inline: 4rem;
    padding-block: .8rem;
    gap: .8rem;
    position: relative;
}
.navbar-div3,
.navbar-div2,
.navbar-div1{
    width: 100%;
}

.navbar-div1{
    display: flex;
    align-items: start;
    justify-content: start;
}
.navbar-div2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-div3{
    display: flex;
    align-items: center;
    justify-content: end;
}

.search-button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 16px;
    right: 64px;
    transition: 1s;
}
.search-button:hover{
    color: antiquewhite;
}
.search-input{
    border: none;
    border-radius: 16px;
    font-family: 'Poppins', sans-serif;
    padding-inline: 1.2rem;
    
}
.search-input:focus{
    outline: none;
}
.logo{
    height: 34px;
    width: auto;
}

/* main */
.main-container{
    height: fit-content;
    width: 100%;
    padding-inline: 4rem;
}
.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 24px;
    color: hsl(0, 0%, 0%);
    text-shadow: 4px 4px 14px hsl(34, 78%, 70%);
    line-height: 0;
}