*,
*::before,
*::after{
    content: none; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Comic Neue', 'Gloria Hallelujah','Poppins', sans-serif;
    overflow-x: hidden;
}

/* start here */

/* navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cab99f;
    width: 100%;
    padding-inline: 4rem;
    padding-block: .8rem;
    gap: .8rem;
    position: fixed;
    z-index: 10;
    border-bottom: 2px solid #654133;
    box-shadow: 0rem 0px 2rem 0rem #654133;
}
.navbar.move-up{
    animation: navbar-move-top .8s ease .4s forwards;
}
.navbar.normal-pos{
    animation: normal-position .4s ease-in forwards;
}
@keyframes normal-position {
    from{
        transform: translateY(-8rem);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes navbar-move-top {
    to{
        transform: translateY(-8rem);
        opacity: 0;
    }
}

.navbar-div3,
.navbar-div2,
.navbar-div1{
    width: 100%;
}

.navbar-div1{
    display: flex;
    align-items: start;
    justify-content: start;
}
.navbar-div2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-div3{
    display: flex;
    align-items: center;
    justify-content: end;
}
.search-input{
    border: none;
    border-radius: 16px;
    padding-inline: 1.2rem;
    font-family: 'Gloria Hallelujah', sans-serif;
    box-shadow: 4px 4px #654133;
}
.search-input:focus{
    outline: none;
}
.logo{
    height: 34px;
    width: auto;
}

/* hero */
.main-hero-section{
    height: 100vh;
    width: 100%;
    background-image: url(../public/img/pexels-curtis-adams-14715771.jpg);
    background-position: center;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-transition-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #dcd9d4;
    height: 100vh;
    width: 40vw;
}
.hero-title{
    font-weight: 700;
    font-size: 2.8rem;
    color: hsl(17, 33%, 20%);
    margin-top: 8rem;
    animation: hero-from-top .8s ease-in;
}
.hero-p{
    text-align: center;
    color: hsl(10, 5%, 48%);
    animation: hero-from-bottom .8s ease-in;
}

@keyframes hero-from-bottom {
    from{
        opacity: 0;
        transform: translateY(8rem);
    }
    to{
        opacity: 1;
    }
}
@keyframes hero-from-top {
    from{
        opacity: 0;
        transform: translateY(-8rem);
    }
    to{
        opacity: 1;
    }   
}

.hero-arrow-icon-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -14rem;
    animation: opacity .6s ease-in;
    animation: arrow-movement .8s ease-in-out .8s infinite forwards alternate;
}

.hero-arrow-header{
    color: hsl(10, 5%, 48%);
    font-size: 2rem;
    text-shadow: 1px 1px 2px #dcd9d4;
}
.arrow-image-icon{
    width: 4rem;
    height: auto;
}

@keyframes opacity {
    from{
        opacity: 0;
        transform: translateY(4rem);
    }
    to{
        opacity: 1;
    }
}
@keyframes arrow-movement {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(1.4rem);
    }
}

.image-container{
    position: relative;
}
.food-image{
    width: 40rem;
    height: 26rem;
    position: absolute;
    top: -40rem;
    right: 10rem;
    border-radius: 16px;
    border: 2px solid #f1f1f1;
    box-shadow: 4px 8px 2rem #817775;
}
.image-one{
    right: 32rem;
    animation: right .6s ease-in forwards;
}
.image-two{
    right: 8rem;
    top: -32rem;
    animation: bottom .6s ease-in forwards;
}
.image-three{
    top: -52rem;
    animation: top .6s ease-in forwards;
}

@keyframes top {
    from{
        transform: translateY(-28rem);
    }
    to{
        transform: translateY(0);
        transform: rotate(16deg);
    }
}

@keyframes bottom{
    from{
        transform: translateY(10rem);
    }
    to{
        transform: translateY(0);
        transform: rotate(28deg);
    }
}

@keyframes right {
    from{
        transform: translateX(40rem);
    }
    to{
        transform: translateX(0);
        transform: rotate(-28deg);
    }
}


/* main */
.main-dish-container{
    height: fit-content;
    width: 100%;
    padding-inline: 4rem;
    padding-block: 2rem;
    background-color: #f1f1f1;
}
.title{
    font-size: 24px;
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 2px 0px #654133;
    line-height: 0;
}

/* dish */
.h2-dish-title{
    color: hsl(17, 33%, 30%);
    font-size: 32px;
    text-shadow: 0 0 20px hsl(36, 29%, 71%);
    position: relative;
}
.span-notice{
    position: absolute;
    top: 6rem;
    right: -4rem;
    transform: rotate(34deg);
    font-size: 40px;
    opacity: 50%;
    z-index: 10;
}
.dish-container{
    height: fit-content;
    width: 100%;
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    overflow: hidden;
}

.card{
    width: 24rem;
    height: fit-content;
    padding: 2rem;
    background-color: hsla(26, 11%, 90%, 80%);
    box-shadow: 8px 8px 18px #817775;
    border-radius: 8px;
    border-left: 4px solid hsl(38, 12%, 47%);
    opacity: 0;
    cursor: pointer;
}
.card.translate{
    animation: translate .4s ease-in forwards;

}

@keyframes translate {
    from{
        transform: translateY(6rem);
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.dish-image{
    height: 12rem;
    width: 100%;
    border-radius: 8px;
    outline: 2px solid hsl(0, 0%, 100%);
    box-shadow: 2px 2px 8px black;
}
.dish-name{
    font-size: 1.8rem;
    margin-top: .8rem;
    margin-bottom: .4rem;
}

